{% extends "base.html" %}
{% load form_extras i18n %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-5">
    <div class="card">
      <div class="card-header">{% trans "Definir Nova Senha" %}</div>
      <div class="card-body">
        {% if validlink %}
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ form.new_password1.id_for_label }}" class="form-label">{% trans "Nova Senha" %}</label>
              {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="mb-3">
              <label for="{{ form.new_password2.id_for_label }}" class="form-label">{% trans "Confirmar Nova Senha" %}</label>
              {{ form.new_password2|add_class:"form-control" }}
            </div>
            <button class="btn btn-primary w-100" type="submit">{% trans "Alterar Senha" %}</button>
          </form>
        {% else %}
          <p class="alert alert-danger">{% trans "O link de redefinição de senha é inválido, possivelmente porque já foi utilizado. Solicite um novo link de redefinição de senha." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}