{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-5">
    <div class="card">
      <div class="card-header">{% trans "Redefinir Senha" %}</div>
      <div class="card-body">
        <p class="text-muted-2">{% trans "Sua senha foi redefinida com sucesso. Você pode agora fazer login." %}</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary w-100 mt-3">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}